body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 0px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}