.row {
    margin-left: 0px;
    margin-right: 0px;
}

.progress {
    margin: 0px;
}

.progress-bar {
    color: #000;
}

.col-md-12 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.info-panel-bottom {
    border-top:1px solid #eee;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.order-book {
    overflow-y: auto;
    height: calc(100vh - 320px);
}

#matched-orders {
    overflow-y: auto;
    height: 161px;
}

#place-order {
    overflow-y: auto;
    height: 161px;
}